<!DOCTYPE html>
<html>
<head>
    <title>World Football Cup</title>
    <meta charset ="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #000000;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}

    .bg-1 {
      background-color: #000000; 
      color: #ff0066;
    }
  .bg-2 { 
      background-color: #000000; 
      color: #ff0066;
  }
  .bg-5 { 
      background-color: #000000; 
      color: #ff0066;
  }
  .container-fluid {
      padding-top: 75px;
      padding-bottom: 10px;
  }
  .navbar {
  	  background-color: #ff0066;
      color: WHITE;
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: black !important;
  }
</style>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="number">World Football Cup</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="equipe">Equipes</a></li>
        <li><a href="groupes">Groupes</a></li>
        <li><a href="rencontres">Rencontres</a></li>
        <li><a href="classement">Classement</a></li>
      </ul>
    </div>
  </div>
</nav>


<body>
    
<div class="bg-1 text-center">
    <br/>
  <h1>Classement du groupe E :</h1>
<br/>
  <div class="table-responsive">          
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center">Rank</th>
        <th class="text-center">Equipe</th>
        <th class="text-center">Points</th>
        <th class="text-center">Match joué</th>
        <th class="text-center">Buts</th>
      </tr>
    </thead>
    <tbody>
    {% for E in E %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ E.NomEq }}</td>
        <td>{{ E.Points }}</td>
        <td>{{ E.NbMatch }}</td>
        <td>{{ E.ButEq }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
    
 <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


<footer class="container-fluid bg-5 text-center">
<div id="footer">World Football Cup &copy; 2019 Acina Vick <br/> 
